# Postgres Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_MULTIPLE_DATABASES=auth,profiles,products,carts,orders,payments,notifications
POSTGRES_FORWARD_PORT=5432

# Redis Configuration
REDIS_PORT=6379

# Minio Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_FORWARD_PORT=9000
MINIO_CONSOLE_FORWARD_PORT=9001
MINIO_BUCKET_NAME=ecom-bucket
MINIO_PUBLIC_URL=http://localhost:${MINIO_FORWARD_PORT}